<mat-toolbar>
  <mat-toolbar-row>
    <strong>Desafio Fábrica de Software</strong>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    <mat-form-field>
      <mat-label>Perfil</mat-label>
      <mat-select>
        <mat-option>
          Solicitante
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card class="mt-2">Simple card</mat-card>

  <!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
</div>